.contact {
  position: relative; 
}

.contact__content {
  width: 40vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%; 
}

.contact__input {
  width: 75%;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid #988345;
  outline-color: #988345; 
}

.contact__textarea {
  width: 75%;
  padding: 1rem;
  border: 1px solid #988345;
  outline-color: #988345;
  font-family: inherit; 
}

@media only screen and (max-width: 68.75em) {
  .contact__content {
    width: 90vw; 
  } 
}